.modalLayerOne {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalLayerTwo {
    margin: 0%;
    height: 30vh;
    width: 30%;
    background-color: darkcyan;
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modalLayerTwoInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modalInput {
    
    margin-right: 5%;
    width: 10vh;
    height: 2vh;
    margin: 0%;
}

.modalEditCloseButton {
   
}