.receiptContainer {
    height: fit-content;
    width: 97%;
    margin: 3px;
}

.receiptItem {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-bottom: 1px black dotted;
}