
.receiptItem {
    display: inline-flex;
    height: fit-content;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    border-bottom: 1px black dotted;
}

.gasDataFormat {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;

}

.deleteSymbol {
    background-color: maroon;
    color: white;
    padding: 3px;
}