.titleHeading {
    font-family: monospace;
    font-size: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 3px;
}

.formListContainer {
    display: inline-flex;
    height: 70vh;
    width: 100%;
}

.formContainer {
    width: 40%;
    height: fit-content;
    border: 2px black solid;
    margin: 3px;
    padding: 15px;
}

.listContainer {
    width: 60%;
    height: fit-content;
    border: 2px black solid;
    margin: 3px;
}